* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  width: 340px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 25px rgba(1, 1, 1, 0.3);
}

.card h1 {
  font-weight: 700;
  font-size: 18px;
  margin: 10px 0;
  color: black;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
}

.card p {
  font-weight: 545;
  font-size: 17px;
  margin: 5px 0 10px;
  color: black;
}

.card a {
  display: inline-block;
  padding: 5.5px 15px;
  background-color: pink;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 14.5px;
  text-decoration: none;
}
